#drum-machine {
  height: 300px;
  width: 600px;
  background-color: pink;
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: row;

}

#all-pad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
  padding: 10px;
}

.drum-pad {
  height: 30%;
  width: 30%;
  background-color: black;
  color: white;
  border: white solid 2px;
  margin: 5px;
  font-size: 40px;
  text-align: center;
  padding: 5px;
  cursor: default;
  caret-color: transparent;
}

#controls {
  width: 40%;
  margin-top: 40px;
}

#power-switch {
  margin-left: 10px;
}

#power-switch-label {
  font-size: large;
  font-weight: bold;
}

#display {
  font-size: large;
  font-weight: bold;
  background-color: white;
  width: 60%;
  margin: 30px auto;
  height: 30px;
}

#volume-slider {
  width: 100%;
  font-weight: bold;
  font-size: large;
}
